#home
{
    background-image: url(logo.png);
}

#banner
{
    width:100%;
}


#imgpart1
{
    background-color: #0A0B01;
}

#imgpart2
{
    background-color:#C93E00;
}

#imgpart3
{
    background-color: #FFFFFF;
}

#img1{
    background-color: grey;
    width: 100%;
    height: 250px;
}

#img2{
    background-color: grey;
    width: 100%;
    height: 250px;
}


#img3{
    background-color: grey;
    width: 100%;
    height: 250px;
}

#img1p{
    color: #C94201;
}

#img2p{
    color: #C94201;
}

#img3p{
    color: #C94201;
}

#contact
{
    
    background-color: #444A3A;
}